body {
  background: linear-gradient(rgba(11,6,6,0.9), rgba(34, 16, 16, 0.9)),
  url('../img/cave_bg.jpg') center/cover;
  font-family: 'Book Antiqua', serif;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.register-box {
  background: linear-gradient(rgba(242,227,197,0.9), rgba(242,227,197,0.9)),
  url('../img/parchment-bg.jpg') center/cover;
  padding: 2.5rem;
  border-radius: 5px;
  border: 2px solid #d4af37;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  width: 100%;
  max-width: 400px;
}


.register-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  color: #d4af37;
  text-shadow: 1px 1px 2px #1a1a1a;
}