body {
  margin: 0;
  font-family: 'MedievalSharp', cursive;
  background: url(/pages/store/assets/img/storeBG.png);
  color: #333;
}
.store-container {
  padding: 40px 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.store-header {
  text-align: center;
}
.store-header h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #91562b;
}

.store-filters {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.menu-btn {
  background: #b0843f;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}